@keyframes rotation {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

.page {
  min-width: 1100px;
  /* мы ещё не умеем делать мобильную версию сайта, */
  /* поэтому выше установлена минимальная ширина страницы */
  max-width: 1600px;
  /* выше установили ограничение по максимальной ширине */
  margin: 0 auto;
  /* выше для экранов больше 1600px отцентрировали весь контент */
  font-family: 'Helvetica Neue', Arial, sans-serif;
}

.header {
  height: 100vh;
  min-height: 600px;
  max-height: 756px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  position: relative;
  background-color: #f2f2f2;
  overflow: hidden;
}

.header__title {
  max-width: 730px;
  margin: 0;
  padding: 0;
  margin-left: 64px;
  line-height: 96px;
  font-size: 102px;
  font-weight: bold;
  z-index: 2;
}

.header__subtitle {
  margin: 0;
  padding: 0;
  max-width: 388px;
  position: absolute;
  left: 64px;
  bottom: 30px;
  line-height: 25px;
  font-size: 18px;
  font-weight: normal;
}

.header__link {
  color: #2f80ed;
  text-decoration: none;
  transition: opacity .5s linear;
}

.header__link:hover {
  opacity: .6;
}

.header__main-illustration {
  height: 608px;
  width: 765px;
  position: absolute;
  bottom: 0;
  right: 0;
  z-index: 1;
}

.header__square-pic {
  height: 568px;
  width: 568px;
  background-color: #2f80ed;
  position: absolute;
  top: 64px;
  right: 0;
}

.rotation {
  animation: rotation 20s linear infinite;
}

.logo_place_header {
  position: absolute;
  top: 30px;
  left: 64px;
  height: 32px;
  width: 183px;
}

.logo_place_footer {
  height: 35px;
  width: 183px;
}

.description {
  margin-top: 100px;
}

.two-columns {
  display: flex;
  width: 80%;
  margin: 0 auto;
  justify-content: space-between;
}

.two-columns__brief {
  margin: 0;
  padding: 0;
  line-height: 1.2;
  font-size: 18px;
  font-weight: normal;
  width: 175px;
  color: #2f80ed;
}

.two-columns__main-text {
  min-width: 784px;
  width: 80%;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.two-columns__paragraph {
  padding: 0;
  margin: 0;
  line-height: 34px;
  font-size: 24px;
  font-weight: normal;
  margin-bottom: 30px;
}

.two-columns__paragraph:last-child {
  margin-bottom: 0;
}

.two-columns__span-accent {
  font-weight: bold;
}

.techniques {
  width: 80%;
  padding-top: 100px;
  margin: 0 auto;
}

.cards {
  max-width: 920px;
  margin: 0 auto;
  padding: 0;
  list-style-type: none;
  display: flex;
  flex-wrap: wrap;
}

.cards__item {
  width: 240px;
  padding: 0;
  margin: 0 100px 0 0;
}

.cards__item:nth-child(3n) {
  margin-right: 0;
}

.cards__image {
  width: 160px;
  height: 160px;
  margin: 60px 40px 43px;
  border-radius: 50%;
}

.cards__title {
  line-height: 1.15;
  font-size: 24px;
  font-weight: bold;
  text-align: center;
  padding: 0;
  margin: 0;
  margin-bottom: 16px;
}

.cards__description {
  line-height: 23px;
  font-size: 18px;
  font-weight: normal;
  text-align: center;
  padding: 0;
  margin: 0;
}

.video {
  margin-top: 100px;
}

.video__iframes {
  width: 1050px;
  margin: 0 auto -50px;
  padding: 50px 0 0 0;
  list-style-type: none;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}

.video__iframe {
  padding: 0;
  margin: 0;
}

.digits {
  margin: 100px 0;
}

.section-title {
  padding: 0;
  width: 60%;
  margin: 0 auto;
  text-align: center;
  line-height: 1.15;
  font-size: 60px;
  font-weight: bold;
  margin-bottom: 20px;
}

.section-title_theme_dark {
  color: white;
}

.section-subtitle {
  padding: 0;
  width: 60%;
  margin: 0 auto;
  text-align: center;
  line-height: 34px;
  font-size: 24px;
  font-weight: normal;
}

.section-subtitle_theme_dark {
  color: white;
}

.table {
  margin: 0 auto;
  padding: 0;
  list-style-type: none;
  width: 1100px;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  position: relative;
  z-index: 1;
}

.table__cell {
  width: 250px;
  margin-top: 60px;
}

.table__heading {
  margin: 0;
  padding: 0;
  line-height: 1.15;
  font-size: 24px;
  font-weight: bold;
}

.table__text {
  margin: 0;
  padding: 0;
  line-height: 1.2;
  font-size: 18px;
  font-weight: normal;
  margin-top: 20px;
}

/* и элемента с модификатором вида ключ-значение */
.table__cell_theme_dark {
  width: 200px;
  color: white;
  margin-right: 0;
  margin-top: 80px;
  list-style-type: none;
}

.oakley {
  padding-top: 160px;
  background-color: #f2f2f2;
}

.feinman {
  min-height: 790px;
  position: relative;
  background-color: #f2f2f2;
  background-image: url('../images/feynman.png');
  background-position: left bottom;
  background-repeat: no-repeat;
  padding-top: 100px;
}

.feinman__title {
  padding: 0;
  line-height: 1.15;
  font-size: 120px;
  font-weight: bold;
  width: 648px;
  margin: 0 auto;
  text-align: center;
}

.feinman__subtitle {
  padding: 0;
  line-height: 51px;
  font-size: 36px;
  font-weight: normal;
  margin-top: 70px;
  text-align: center;
}

.feinman__link {
  margin: 0;
  padding: 0;
  line-height: 51px;
  font-size: 36px;
  font-weight: normal;
  position: absolute;
  right: 48px;
  top: 50%;
  color: #2f80ed;
  text-decoration: none;
  transition: opacity .5s linear;
}

.feinman__link:hover {
  opacity: .6;
}

.khan {
  padding-top: 105px;
  background-color: #f2f2f2;
}

.khan__container {
  width: 80%;
  margin: 0 auto;
}

.khan__author {
  line-height: 42px;
  font-size: 30px;
  font-weight: normal;
  font-style: normal;
  padding: 0;
  margin: 0;
}

.khan__title {
  line-height: 1.15;
  font-size: 60px;
  font-weight: bold;
  padding: 0;
  margin: 0 0 50px 0;
}

.khan__quote {
  line-height: 34px;
  font-size: 24px;
  font-weight: normal;
  width: 790px;
  padding: 0;
  margin: 0 0 36px 0;
}

.khan__quote-author {
  line-height: 1.15;
  font-size: 24px;
  font-weight: bold;
  font-style: normal;
  padding: 0;
  margin: 0 0 10px 0;
  display: block;
}

.khan__quote-author-subline {
  line-height: 1.15;
  font-size: 24px;
  font-weight: normal;
  padding: 0;
  margin: 0 0 68px 0;
}

.khan__book-container {
  display: flex;
  margin: 0;
  padding: 0;
  max-height: 608px;
  overflow: hidden;
}

.khan__book-pic {
  width: 620px;
  height: 886px;
  margin: 0 48px 0 0;
}

.khan__buy-link {
  text-decoration: none;
  color: #2f80ed;
  line-height: 42px;
  font-size: 30px;
  font-weight: normal;
  transition: opacity .5s linear;
}

.khan__buy-link:hover {
  opacity: .6;
}

.kaufman {
  padding: 90px 0;
  background-color: #1f1f1f;
  position: relative;
  overflow: hidden;
}

.kaufman__triangle {
  height: 877px;
  width: 877px;
  position: absolute;
  top: 0;
  right: -210px;
  z-index: 0;
  background: url('../images/kaufman-triangle.svg');
  background-size: contain;
}

.resources {
  padding: 100px 0 217px;
  background-color: #f2f2f2;
}

.resources__logo-zone {
  margin: 80px auto 0;
  padding: 0;
  max-width: 1100px;
  list-style-type: none;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

.resources__logo-link {
  transition: opacity .5s linear;
}

.resources__logo-link:hover {
  opacity: .6;
}

.resources__logo-image {
  width: 270px;
  height: 38px;
}

.footer {
  padding: 60px 0 40px;
  background-color: #1f1f1f;
  min-height: 350px;
  box-sizing: border-box;
  display: flex;
}

.footer__columns {
  color: white;
  width: 90%;
  margin: 0 auto;
  display: flex;
  justify-content: space-between;
}

.footer__column_content_copyright{
  flex-basis: 711px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.footer__author {
  padding: 0;
  margin: 18px 0;
  line-height: 25px;
  font-size: 18px;
  font-weight: normal;
}

.footer__column-heading {
  margin: 0;
  padding: 0;
  line-height: 30px;
  font-size: 18px;
  font-weight: bold;
  margin-bottom: 20px;
}

.footer__column-links {
  margin: 0;
  padding: 0;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  margin-bottom: 16px;
}

.footer__column-link {
  text-decoration: none;
  color: white;
  line-height: 30px;
  font-size: 18px;
  font-weight: normal;
  transition: opacity .5s linear;
}

.footer__column-link:hover {
  opacity: .6;
}

.footer__column-link-item {
  margin: 0;
  padding: 0;
  list-style-type: none;
}

.footer__social-icon {
  padding-right: 10px;
  width: 16px;
  height: 16px;
}
